{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="{% static 'streaming_vod/styles.css' %}" rel="stylesheet">
</head>
<body>
    <h1>Hello {{ name }}</h1>
    {% if name == "Harry" %}
    <h2>The chosen one</h2>
    {% endif %}

    {% if name == "Ron" %}
    <h2>The king</h2>
    {% endif %}

    {% if name == "Hermione" %}
    <h2>The smartest witch</h2>
    {% endif %}
</body>
</html>